
@font-face 
{
	font-family: 'Typo01';
	src: url('../Assets/fonts/CaviarDreams.ttf');
	font-weight: normal;
	font-style: normal;
}

body
{
    background-color: #ffe9e1;
    font-family: 'Typo01';
}

h1
{
    color:#ff6948;
    font-size: 200%;
}

h2
{
    background-color: #fff4f0;
    border-radius: 4px;
    width: auto;
    height: auto;
    padding: 4px 0px 4px 0px;
    margin: 0px;
    margin-bottom: 4px;
    color:#ff927a;
    font-size: 120%;
}

h3
{
    color:#ffc89e;
    font-size: 100%;
}

label , p , td , tr, th, caption ,li ,figcaption
{
    color:#9e7c61;
    padding-left: 4px;
}

figure
{
    /* par défaut, l'attribut "figure" ajoute des marges */
    margin: 0px;
}

::placeholder
{
    color:#e2d3c7;
}

video
{
    border-radius: 4px;
}

a
{
    color:#7873ca;
}

table{

    border-collapse: collapse;
}

td
{
    border: solid;
} 

caption
{
 caption-side: bottom ;
 text-align: left;
}

.container
{
    background-color: #ffe1d5;
    border-radius: 4px;
    width: auto;
    height: auto;
    padding: 4px;
    margin: 4px 4px 12px 4px;
}

.imgModif
{
    border-radius: 4px;
    text-align: left;
    height: 128px;
    width: auto;
}

.textColorX
{
    color:#ff6948;
}

.container  label 
{
    display: inline-block;
    width: 250px;
    text-align: left;
}

.container text 
{
    display: inline-block;
} 
